@import "themes/macchiato.css";

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

* {
  font-family: JetBrainsMono Nerd Font, CaskaydiaCove Nerd Font, monospace;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  min-height: 0;
}


/* Layout */

#waybar {
  background-color: @surface0;
  color: @text;
}

.modules-left,
.modules-right {
  margin: .375rem .5rem;
}

.modules-right * {
  margin: 0 .5rem;
}


/* Workspaces */

#custom-menu,
#workspaces button {
  all: initial;
  padding: 0 .75rem;
  min-width: 1rem;
  color: @surface0;
  font-weight: bold;
  background-color: @surface1;
  opacity: 1;
}

#custom-menu {
  border-radius: .75rem;
  background-color: @overlay0;
  color: @text;
  padding: 0 1em;
  margin-right: .75em;
}

#workspaces button {
  opacity: 0.7;
}

#workspaces button:first-child {
  border-radius: .75rem 0 0 .75rem;
}

#workspaces button:last-child {
  border-radius: 0 .75rem .75rem 0;
}

#workspaces button:nth-child(1) {
  background-color: @red;
}

#workspaces button:nth-child(2) {
  background-color: @peach;
}

#workspaces button:nth-child(3) {
  background-color: @green;
}

#workspaces button:nth-child(4) {
  background-color: @sapphire;
}

#workspaces button:nth-child(5) {
  background-color: @mauve;
}

#workspaces button.active {
  opacity: 1;
}


/* Windows */

#window {
  font-weight: bold;
}


/* Icons */

#network,
#bluetooth,
#cpu,
#battery,
#pulseaudio,
#custom-nightlight {
  min-width: 1rem;
  margin: 0 .25rem;
  padding: 0 .5rem;
}


/* Bluetooth */

#bluetooth.disabled,
#bluetooth.off {
  color: @overlay0;
}

#bluetooth.connected {
  color: @sky;
}

#bluetooth.pairable,
#bluetooth.discoverable,
#bluetooth.discovering {
  color: @text;
  animation: pulse 2s infinite;
}


/* Audio */

#pulseaudio {
  color: @text;
}

#pulseaudio.bluetooth {
  color: @yellow;
}

#pulseaudio.muted {
  color: @red;
}


/* Clock */

#clock {
  padding: 0 1rem;
  background-color: @surface1;
  border-radius: .75rem;
  font-weight: bold;
}


/* Helpers */

.hidden {
  opacity: 0;
}